
body{
    width: auto;
    margin: 0px;
    padding: 0px;
    background-color : rgba(255, 253, 244, 0.6);
  }
.container{
    max-width: 1440px;
    width: 1440px;
    margin: 0 auto;
}
ul{
    padding: 0px;
}
ul li{
    list-style: none;
}
a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
a li:hover{
    color: #2493BF;
}
.active li{
    color: #2493BF;
}
.signin{
    border: 2px solid #5D5D5D;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
}
.signin:hover{
    border: 2px solid #2493BF;
}

.depth li{
    color: 5D5D5D;
}